/* Tablet Style
min-width >=576px  */
@media screen and (min-width:576px) {
  /* Javascript-1-Pseudo-Style.html */
  /* Article - Pseudo-Style */
  .pseudo-style > div{
    margin-bottom: 24px;
  }

  .pseudo-style-solution > p,
  .pseudo-style-solution > pre{
    margin-bottom: 24px;
  }


  /* Javascript-2-Toggle.html */
  .how-to-toggle > div,
  .my-top-secret > div{
    margin-bottom: 24px;
  }


  /* Article - How-To-Toggle */
  .how-to-toggle > div > p{
    margin-bottom: 24px;
  }

  .how-to-toggle > div:last-child > pre{
    overflow-x: hidden;
  }


  /* Article - My-Top-Secret */
  .my-top-secret > div > ul.main-article-list.background-white-radius{
    padding: 20px 40px;
  }



  /* Javascript-3-Copy.html */
  /* Common */
  .main-article-modal-group > .show-code-button{
    margin-bottom: 24px;
  }

  .modal-code > pre.main-article-pre.background-white-radius{
    width: 80%;
    overflow-x: hidden;
  }


  /* Article - Clipboard-Copy-Code */
  .clipboard-copy-code > p{
    margin-bottom: 24px;
  }


  /* Article - How-To-Copy */
  .how-to-copy li.main-article-list-items.hyphen:hover::after{
    left: 20%;
    transform: translate(-50%, 100%);
  }


  /* Article - How-To-Copy-Textarea */
  .createElement-desc > p,
  .select-desc > p,
  .execCommand-desc > p,
  /* Article - How-To-Copy-input */
  .how-to-copy-input > p,
  /* Article - How-To-Copy-old-IE */
  .how-to-copy-old-IE > p,
  /* Article - How-To-Copy-Mix */
  .how-to-copy-mix > p,
  .navigator-desc > p{
    margin-bottom: 24px;
  }


  /* Article - How-To-Copy-Textarea */
  .how-to-copy-textarea > ol,
  .createElement-desc,
  .select-desc{
    margin-bottom: 24px;
  }

  .how-to-copy-textarea p.background-white-radius{
    padding: 20px 40px;
    overflow-x: hidden;
  }
}


/* Desktop Style
min-width >=768px  */
@media screen and (min-width:768px) {
  /* Javascript-1-Pseudo-Style.html */
  /* Article - Pseudo-Style */
  .pseudo-style > div{
    margin-bottom: 36px;
  }

  .pseudo-style-solution > p,
  .pseudo-style-solution > pre{
    margin-bottom: 36px;
  }



  /* Javascript-2-Toggle.html */
  .how-to-toggle > div,
  .my-top-secret > div{
    margin-bottom: 36px;
  }


  /* Article - How-To-Toggle */
  .how-to-toggle > div > p{
    margin-bottom: 36px;
  }



    /* Javascript-3-Pseudo-Style.html */
    /* Common */
    .main-article-modal-group > .show-code-button{
      margin-bottom: 36px;
    }

    .modal-code > pre.main-article-pre.background-white-radius{
      width: 50%;
      overflow-x: hidden;
    }


    /* Article - Clipboard-Copy-Code */
    .clipboard-copy-code > p{
      margin-bottom: 36px;
    }


    /* Article - How-To-Copy */
    .how-to-copy li.main-article-list-items.hyphen:hover::after{
      left: 15%;
      transform: translate(-50%, 100%);
    }


    /* Article - How-To-Copy-Textarea */
    .createElement-desc > p,
    .select-desc > p,
    .execCommand-desc > p,
    /* Article - How-To-Copy-input */
    .how-to-copy-input > p,
    /* Article - How-To-Copy-old-IE */
    .how-to-copy-old-IE > p,
    /* Article - How-To-Copy-Mix */
    .how-to-copy-mix > p,
    .navigator-desc > p{
      margin-bottom: 36px;
    }


    /* Article - How-To-Copy-Textarea */
    .how-to-copy-textarea > ol,
    .createElement-desc,
    .select-desc{
      margin-bottom: 36px;
    }
}
