/* Javascript-1-Pseudo-Style.html */
/* Article - Pseudo-Style */
.pseudo-style > div{
  margin-bottom: 16px;
}

.pseudo-style > div:last-child{
  margin-bottom: 0;
}

.pseudo-style-solution > p,
.pseudo-style-solution > pre{
  margin-bottom: 16px;
}

.pseudo-style-solution > pre:last-child{
  margin-bottom: 0;
}



/* Javascript-2-Toggle.html */
.how-to-toggle > div,
.my-top-secret > div{
  margin-bottom: 16px;
}

.how-to-toggle > div:last-child,
.my-top-secret > div:last-child{
  margin-bottom: 0;
}


/* Article - How-To-Toggle */
.how-to-toggle > div > p{
  margin-bottom: 16px;
}

.how-to-toggle > div:last-child > pre{
  overflow-x: scroll;
}


/* Article - My-Top-Secret */
.my-top-secret > div > ul.main-article-list.background-white-radius{
  padding: 20px;
}
