@font-face {
  font-family: HelveticaNeueCyr, sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url('HelveticaNeueCyr Bold.ttf') format('ttf');
}

@font-face {
  font-family: HelveticaNeueCyr, sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url('HelveticaNeueCyr Light.ttf') format('ttf');
}
