@font-face {
  font-family: HelveticaNeueCyr, sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url('../assets/font/HelveticaNeueCyr Bold.ttf') format('truetype');
}

@font-face {
  font-family: HelveticaNeueCyr, sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url('../assets/font/HelveticaNeueCyr Light.ttf') format('truetype');
}
