*{
  box-sizing: border-box;
  margin: 0;
}

body{
  background-color: #F0F0F3;
  font-family: 'Noto Sans KR', sans-serif;
}

/* Reset CSS */
a{
  color: inherit;
  text-decoration: none;
}

textarea,
input,
button{
  outline: none;
  border: none;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  cursor: pointer;
}

textarea:hover,
textarea:active,
textarea:focus,
input:hover,
input:active,
input:focus,
button:hover,
button:active,
button:focus{
  outline: none;
  border: none;
}

ol,
ul,
li{
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0;
  list-style: none;
}

h1,
h2,
h3{
  margin: 0;
}


/* Common CSS */
/* Button */
.convex-button{
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 40px;
  background-color: #F0F0F3;
  color: #B1B5C6;
  font-size: 18px;
  box-shadow: -5px 5px 10px rgba(216, 216, 219, 0.2),
   5px -5px 10px rgba(216, 216, 219, 0.2),
   -5px -5px 10px rgba(255, 255, 255, 0.9),
   5px 5px 13px rgba(216, 216, 219, 0.9),
   inset 1px 1px 2px rgba(255, 255, 255, 0.3),
   inset -1px -1px 2px rgba(216, 216, 219, 0.5);
}

.concave-button{
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 40px;
  background-color: #F0F0F3;
  color: #B1B5C6;
  font-size: 18px;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3),
  -1px -1px 2px rgba(216, 216, 219, 0.5),
  inset -5px 5px 10px rgba(216, 216, 219, 0.2),
  inset 5px -5px 10px rgba(216, 216, 219, 0.2),
  inset -5px -5px 10px rgba(255, 255, 255, 0.9),
  inset 5px 5px 13px rgba(216, 216, 219, 0.9);
}

/* Title */
.title{
  margin-bottom: 16px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.111111111111111;
  letter-spacing: 0.05em;
  text-align: center;
}

.convex-title,
.concave-title{
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.111111111111111;
  letter-spacing: 0.03em;
  text-align: center;
}

.convex-title::before,
.concave-title::before{
  content: '✨';
}

.convex-subtitle,
.concave-subtitle{
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.convex-subtitle::before,
.concave-subtitle::before{
  content: '- ';
}

.order{
  display: block;
  padding-left: 16px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.428571428571429;
  letter-spacing: 0.05em;
}

/* Definition List */
.shadow-desc{
  padding-left: 16px;
  margin-bottom: 16px;
}

.shadow-desc > div::before{
  content: '🚀';
}

.shadow-desc dt{
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.428571428571429;
  letter-spacing: -0.01em;
}

.shadow-desc dd,
.shadow-color dd{
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.428571428571429;
  letter-spacing: 0.05em;
}

.shadow-color dd{
  margin-bottom: 8px;
}

.shadow-color::after{
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: transparent;
  transition: color 250ms ease-in-out;
}

/* Element Margin-Bottom */
body > article{
  margin-bottom: 108px;
}

body > article:last-of-type{
  margin-bottom: 36px;
}

pre,
code{
  padding-left: 16px;
  margin-bottom: 0px;
  white-space: pre-line;
}

.convex li,
.concave li{
  margin-bottom: 30px;
}

.convex li:last-of-type,
.concave li:last-of-type{
  margin-bottom: 0;
}


/* Custom Grid System - Fix countainer width */
@media screen and (min-width:1200px) {
  .container{
    max-width: 960px !important;
  }
}

@media screen and () {

}


/* Header */
body > header{
  padding: 36px 0 16px 0;
}

/* Article -  Convex */
/* Header */
.convex header div.col-12.col-md-6:first-of-type{
  margin-bottom: 16px;
}

/* Section */
.convex-order li:first-of-type .shadow-color::after{
  content: '#D8D8DB, 20%';
  background-color: rgba(216, 216, 219, 0.2);
}

.convex-order li:first-of-type .shadow-color:hover::after{
  color: #000;
}

.convex .first{
  position: relative;
  box-shadow: -5px 5px 10px rgba(216, 216, 219, 0.2);
}

.convex .first::after{
  content: '';
  position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 40px;
  background-color: transparent;
  box-shadow: -5px 5px 10px dodgerblue;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.convex .first:hover::after{
  opacity: 1;
}

.convex-order li:nth-of-type(2) .shadow-color::after{
  content: '#D8D8DB, 20%';
  background-color: rgba(216, 216, 219, 0.2);
}

.convex-order li:nth-of-type(2) .shadow-color:hover::after{
  color: #000;
}

.convex .second{
  position: relative;
  box-shadow: -5px 5px 10px rgba(216, 216, 219, 0.2),
   5px -5px 10px rgba(216, 216, 219, 0.2);
}

.convex .second::after{
  content: '';
  position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 40px;
  background-color: transparent;
  box-shadow: 5px -5px 10px dodgerblue;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.convex .second:hover::after{
  opacity: 1;
}

.convex-order li:nth-of-type(3) .shadow-color::after{
  content: '#FFFFFF, 90%';
  background-color: rgba(255, 255, 255, 0.9);
}

.convex-order li:nth-of-type(3) .shadow-color:hover::after{
  color: #000;
}

.convex .third{
  position: relative;
  box-shadow: -5px 5px 10px rgba(216, 216, 219, 0.2),
   5px -5px 10px rgba(216, 216, 219, 0.2),
   -5px -5px 10px rgba(255, 255, 255, 0.9);
}

.convex .third::after{
  content: '';
  position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 40px;
  background-color: transparent;
  box-shadow: -5px -5px 10px dodgerblue;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.convex .third:hover::after{
  opacity: 1;
}

.convex-order li:nth-of-type(4) .shadow-color::after{
  content: '#D8D8DB, 90%';
  background-color: rgba(216, 216, 219, 0.9);
}

.convex-order li:nth-of-type(4) .shadow-color:hover::after{
  color: #000;
}

.convex .fourth{
  position: relative;
  box-shadow: -5px 5px 10px rgba(216, 216, 219, 0.2),
   5px -5px 10px rgba(216, 216, 219, 0.2),
   -5px -5px 10px rgba(255, 255, 255, 0.9),
   5px 5px 13px rgba(216, 216, 219, 0.9);
}

.convex .fourth::after{
  content: '';
  position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 40px;
  background-color: transparent;
  box-shadow: 5px 5px 13px dodgerblue;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.convex .fourth:hover::after{
  opacity: 1;
}

.convex-order li:nth-of-type(5) .shadow-color::after{
  content: '#FFFFFF, 30%';
  background-color: rgba(255, 255, 255, 0.3);
}

.convex-order li:nth-of-type(5) .shadow-color:hover::after{
  color: #000;
}

.convex .fifth{
  position: relative;
  box-shadow: -5px 5px 10px rgba(216, 216, 219, 0.2),
   5px -5px 10px rgba(216, 216, 219, 0.2),
   -5px -5px 10px rgba(255, 255, 255, 0.9),
   5px 5px 13px rgba(216, 216, 219, 0.9),
   inset 1px 1px 2px rgba(255, 255, 255, 0.3);
}

.convex .fifth::after{
  content: '';
  position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 40px;
  background-color: transparent;
  box-shadow: inset 1px 1px 2px dodgerblue;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.convex .fifth:hover::after{
  opacity: 1;
}

.convex-order li:last-of-type .shadow-color::after{
  content: '#D8D8DB, 50%';
  background-color: rgba(216, 216, 219, 0.5);
}

.convex-order li:last-of-type .shadow-color:hover::after{
  color: #000;
}

.convex .sixth{
  position: relative;
  box-shadow: -5px 5px 10px rgba(216, 216, 219, 0.2),
   5px -5px 10px rgba(216, 216, 219, 0.2),
   -5px -5px 10px rgba(255, 255, 255, 0.9),
   5px 5px 13px rgba(216, 216, 219, 0.9),
   inset 1px 1px 2px rgba(255, 255, 255, 0.3),
   inset -1px -1px 2px rgba(216, 216, 219, 0.5);
}

.convex .sixth::after{
  content: '';
  position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 40px;
  background-color: transparent;
  box-shadow: inset -1px -1px 2px dodgerblue;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.convex .sixth:hover::after{
  opacity: 1;
}


/* Article - Concave */
.concave header{
  margin-bottom: 20px;
}
/* Article */
.concave-order li:first-of-type .shadow-color::after{
  content: '#FFFFFF, 30%';
  background-color: rgba(255, 255, 255, 0.3);
}

.concave-order li:first-of-type .shadow-color:hover::after{
  color: #000;
}

.concave .first{
  position: relative;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3);
}

.concave .first::after{
  content: '';
  position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 40px;
  background-color: transparent;
  box-shadow: 1px 1px 2px dodgerblue;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.concave .first:hover::after{
  opacity: 1;
}

.concave-order li:nth-of-type(2) .shadow-color::after{
  content: '#D8D8DB, 50%';
  background-color: rgba(216, 216, 219, 0.5);
}

.concave-order li:nth-of-type(2) .shadow-color:hover::after{
  color: #000;
}

.concave .second{
  position: relative;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3),
  -1px -1px 2px rgba(216, 216, 219, 0.5);
}

.concave .second::after{
  content: '';
  position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 40px;
  background-color: transparent;
  box-shadow: -1px -1px 2px dodgerblue;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.concave .second:hover::after{
  opacity: 1;
}

.concave-order li:nth-of-type(3) .shadow-color::after{
  content: '#D8D8DB, 20%';
  background-color: rgba(216, 216, 219, 0.2);
}

.concave-order li:nth-of-type(3) .shadow-color:hover::after{
  color: #000;
}

.concave .third{
  position: relative;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3),
  -1px -1px 2px rgba(216, 216, 219, 0.5),
  inset -5px 5px 10px rgba(216, 216, 219, 0.2);
}

.concave .third::after{
  content: '';
  position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 40px;
  background-color: transparent;
  box-shadow: inset -5px 5px 10px dodgerblue;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.concave .third:hover::after{
  opacity: 1;
}

.concave-order li:nth-of-type(4) .shadow-color::after{
  content: '#D8D8DB, 20%';
  background-color: rgba(216, 216, 219, 0.2);
}

.concave-order li:nth-of-type(4) .shadow-color:hover::after{
  color: #000;
}

.concave .fourth{
  position: relative;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3),
  -1px -1px 2px rgba(216, 216, 219, 0.5),
  inset -5px 5px 10px rgba(216, 216, 219, 0.2),
  inset 5px -5px 10px rgba(216, 216, 219, 0.2);
}

.concave .fourth::after{
  content: '';
  position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 40px;
  background-color: transparent;
  box-shadow: inset 5px -5px 10px dodgerblue;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.concave .fourth:hover::after{
  opacity: 1;
}

.concave-order li:nth-of-type(5) .shadow-color::after{
  content: '#FFFFFF, 90%';
  background-color: rgba(255, 255, 255, 0.9);
}

.concave-order li:nth-of-type(5) .shadow-color:hover::after{
  color: #000;
}

.concave .fifth{
  position: relative;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3),
  -1px -1px 2px rgba(216, 216, 219, 0.5),
  inset -5px 5px 10px rgba(216, 216, 219, 0.2),
  inset 5px -5px 10px rgba(216, 216, 219, 0.2),
  inset -5px -5px 10px rgba(255, 255, 255, 0.9);
}

.concave .fifth::after{
  content: '';
  position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 40px;
  background-color: transparent;
  box-shadow: inset -5px -5px 10px dodgerblue;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.concave .fifth:hover::after{
  opacity: 1;
}

.concave-order li:last-of-type .shadow-color::after{
  content: '#D8D8DB, 90%';
  background-color: rgba(216, 216, 219, 0.9);
}

.concave-order li:last-of-type .shadow-color:hover::after{
  color: #000;
}

.concave .sixth{
  position: relative;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3),
  -1px -1px 2px rgba(216, 216, 219, 0.5),
  inset -5px 5px 10px rgba(216, 216, 219, 0.2),
  inset 5px -5px 10px rgba(216, 216, 219, 0.2),
  inset -5px -5px 10px rgba(255, 255, 255, 0.9),
  inset 5px 5px 13px rgba(216, 216, 219, 0.9);
}

.concave .sixth::after{
  content: '';
  position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 40px;
  background-color: transparent;
  box-shadow: inset 5px 5px 13px dodgerblue;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.concave .sixth:hover::after{
  opacity: 1;
}

/* Article - Template */
.template{
  font-family: HelveticaNeueCyr;
}

.template .row > div{
  margin-bottom: 50px;
}

.template .row > div:last-child{
  margin-bottom: 0;
}


/* Section - Menu */
.convex-button{
  border-radius: 40px;
  background-color: #F0F0F3;
  box-shadow: -5px 5px 10px rgba(216, 216, 219, 0.2),
  5px -5px 10px rgba(216, 216, 219, 0.2),
  -5px -5px 10px rgba(255, 255, 255, 0.9),
  5px 5px 13px rgba(216, 216, 219, 0.9),
  inset 1px 1px 2px rgba(255, 255, 255, 0.3),
  inset -1px -1px 2px rgba(216, 216, 219, 0.5);
}

.concave-button{
  border-radius: 40px;
  background-color: #F0F0F3;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3),
  -1px -1px 2px rgba(216, 216, 219, 0.5),
  inset -5px 5px 10px rgba(216, 216, 219, 0.2),
  inset 5px -5px 10px rgba(216, 216, 219, 0.2),
  inset -5px -5px 10px rgba(255, 255, 255, 0.9),
  inset 5px 5px 13px rgba(216, 216, 219, 0.9);
}

/* .menu{
  margin: 0 auto;
} */

section.menu > nav.convex-button.menu-icons{
  position: relative;
  margin-bottom: 36px;
}

.menu-icons{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100px;
  height:auto;
  padding: 32px 0 56px 0;
  border-radius: 40px;
}

.icon{
  width: 50px;
  height: 30px;
  padding: 0;
  margin-bottom: 40px;
  background-color: transparent;
}

.icon:nth-last-child(2),
.icon:last-child{
  background-color: #F0F0F3;
  margin-bottom: 0;
}

nav.convex-button.menu-icons > span{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.menu-button{
  width:101px;
  height: 101px;
}

/* Article - Template */
/* Section - Options */
section.options{
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
}

section.options > div{
  margin-bottom: 50px;
}

section.options > div:nth-child(2){
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.options > div:last-child{
  margin-bottom: 0;
}

button.convex-button.ok-button{
  width: 101px;
  height: 252px;
  font-size: 18px;
  font-family: HelveticaNeueCyr;
  font-weight: 700;
  color: #B1B5C6;
}

.gender{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 246px;
  height: 70px;
  margin-bottom: 56px;
  overflow: hidden;
}

.gender::before{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  display: block;
  width: 123px;
  height: 70px;
  border-radius: 40px;
  background-color: #A0A5B9;
  box-shadow: 1px 1px 2px rgba(176, 182, 204, 0.3),
  -1px -1px 2px rgba(144, 149, 167, 0.5),
  inset -5px 5px 10px rgba(144, 149, 167, 0.2),
  inset 5px -5px 10px rgba(144, 149, 167, 0.2),
  inset -5px -5px 10px rgba(176, 182, 204, 0.9),
  inset 5px 5px 13px rgba(144, 149, 167, 0.9);
}

div.concave-button.gender > button{
  position: relative;
  z-index: 2;
  width: 123px;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  color: #B1B5C6;
}

div.concave-button.gender > button:first-child{
  color: #FFF;
}

.pagenation{
  display: flex;
  margin-bottom: 60px;
}

.pagenation > button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 61px;
  height: 61px;
  border-radius: 10px;
}

.pagenation .convex-button,
.pagenation .concave-button{
  margin:0
}

.pagenation > button:first-child{
  margin-right: 13px;
}

.search-bar{
  position: relative;
  display: flex;
  align-items: center;
  width: 246px;
  height: 70px;
  padding-left: 72px;
  overflow: hidden;
}

div.concave-button.search-bar span{
  position: absolute;
  top: 50%;
  left: 31px;
  transform: translateY(-50%);
}

.search-bar-form > input{
  background-color: transparent;
  font-family: HelveticaNeueCyr;
  font-size: 18px;
  font-weight: 700;
  color: #B1B5C6;
}

.search-bar-form > input::placeholder{
  color: #B1B5C6;
}

.controller-bar,
.audio-player,
.audio-player{
  display: none;
}



/* Footer */
body > footer .container{
  border-top: 1px solid #000;
}

body > footer ul{
  display:flex;
  justify-content:space-between;
  padding: 16px 0;
  font-size: 12px;
}

/* >= 576px (Tablet) */
@media screen and (min-width:576px) {
  /* Common CSS */
  /* Title */
  .title{
    font-size: 48px;
    line-height: 1.041666666666667;
  }

  .convex-title,
  .concave-title{
    font-size: 20px;
    line-height: 1.5;
  }

  .convex-title::before,
  .concave-title::before{
    content: '👻';
  }

  .convex-subtitle,
  .concave-subtitle{
    font-size: 18px;
    line-height: 1.5;
  }

  .order{
    padding-left: 0;
    font-size: 18px;
    line-height: 1.111111111111111;
  }

  /* Definition List */
  .shadow-desc{
    padding-left: 0;
  }

  .shadow-desc > div::before{
    content: '🎃';
  }

  .shadow-desc dt{
    margin-bottom: 8px;
    line-height: 1.111111111111111;
  }

  .shadow-desc dd,
  .shadow-color dd{
    margin-bottom: 24px;
    line-height: 1.111111111111111;
  }

  .shadow-color dd{
    margin-bottom: 16px;
  }

  /* Element Margin-Bottom */
  body > article{
    margin-bottom: 142px;
  }

  pre,
  code{
    padding-left: 24px;
  }

  .convex li:nth-of-type(5),
  .concave li:nth-of-type(5){
    margin-bottom: 0;
  }


  /* Header */
  body > header{
    padding: 48px 0 16px 0;
  }

  /* Article -  Convex */
  /* Header */
  .convex header div.col-12.col-md-6:first-of-type{
    margin-bottom: 24px;
  }

  /* Article - Template */
  /* Section - menu */
  /* .menu{
    margin: 0 auto;
  } */


  /* Section - Options */
  section.options{
    flex-direction: row;
    flex-wrap: wrap;
  }

  section.options > div{
    margin-bottom: 68px;
    margin-right: 50px;
  }

  section.options > div:nth-child(2){
    margin-right: 0;
  }

  .controller-bar{
    display: block;
  }

  .controller-bar> div:first-child{
    margin-bottom: 27px;
  }

  .no-controller,
  .is-controller{
    position: relative;
    width: 347px;
    height: 16px;
  }

  div.concave-button.no-controller::after,
  div.concave-button.is-controller::after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    display: block;
    width: 96px;
    height: 100%;
    border-radius: 40px;
    background-color: #A0A5B9;
    box-shadow: 1px 1px 2px rgba(176, 182, 204, 0.3),
    -1px -1px 2px rgba(144, 149, 167, 0.5),
    inset -5px 5px 10px rgba(144, 149, 167, 0.2),
    inset 5px -5px 10px rgba(144, 149, 167, 0.2),
    inset -5px -5px 10px rgba(176, 182, 204, 0.9),
    inset 5px 5px 13px rgba(144, 149, 167, 0.9);
  }

  div.concave-button.no-controller > span{
    position: absolute;
    top: -20px;
    left: 96px;
    transform: translate(-50%, -100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 37px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
  }

  div.concave-button.no-controller > svg{
    position: absolute;
    top: -10px;
    left: 96px;
    transform: translate(-50%, -100%);
  }

  div.concave-button.is-controller::after{
    width: 252px;
  }

  div.concave-button.is-controller .controller{
    position: absolute;
    top: 50%;
    left: 252px;
    transform: translate(-100%, -50%);
    z-index: 1;
    width: 37px;
    height: 37px;
  }
}

/* >= 768px (Tablet) */
@media screen and (min-width:768px) {
  /* Common CSS */
  /* Title */
  .title{
    font-size: 64px;
    line-height: 1.09375;
  }

  .convex-title,
  .concave-title{
    font-size: 24px;
    line-height: 1.25;
  }

  .convex-title::before,
  .concave-title::before{
    content: '👽';
  }

  .order{
    margin-bottom: 16px;
  }

  /* Definition List */
  .shadow-desc > div::before{
    content: '🔥';
  }

  .shadow-desc dt{
    font-size: 14px;
    line-height: 1.428571428571429;
  }

  .shadow-desc dd,
  .shadow-color dd{
    font-size: 14px;
    line-height: 1.428571428571429;
  }

  /* Element Margin-Bottom */
  body > article{
    margin-bottom: 240px;
  }

  pre,
  code{
    padding-left: 0;
  }

  .convex li,
  .concave li{
    margin-bottom: 50px;
  }

  /* Header */
  body > header{
    padding: 72px 0 16px 0;
  }

  /* Article -  Convex */
  /* Header */
  .convex header div.col-12.col-md-6:first-of-type{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
  }

  /* Article - Concave */
  .concave header{
    margin-bottom: 0;
  }

  .concave header div.col-12.col-md-6:first-of-type{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
  }


  /* Article - Template */
  .template .container{
    max-width:720px !important;
  }

  .audio-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 548px;
    height: 101px;
    padding: 0 44px 0 42px;
  }

  .playlist-desc li{
    margin-bottom: 10px;
  }

  .playlist-desc li:last-child{
    margin-bottom: 0;
  }

  .playlist-title{
    font-size: 18px;
    font-weight: 700;
  }

  .playlist-singer{
    font-size: 18px;
    font-weight: 300;
  }

  .audio-player-controller{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .audio-player-controller li{
    margin-right: 30px;
  }

  .audio-player-controller li:last-child{
    margin-right: 0;
  }

  .audio-player-controller li > button{
    padding: 0;
  }

  .play-button{
    width: 65px;
    height: 65px;
    background-color: #A0A5B9;
    box-shadow: 1px 1px 2px rgba(176, 182, 204, 0.3),
    -1px -1px 2px rgba(144, 149, 167, 0.5),
    inset -5px 5px 10px rgba(144, 149, 167, 0.2),
    inset 5px -5px 10px rgba(144, 149, 167, 0.2),
    inset -5px -5px 10px rgba(176, 182, 204, 0.9),
    inset 5px 5px 13px rgba(144, 149, 167, 0.9);
  }

  /* Footer */
  body > footer ul{
    padding: 18px 0;
    font-size: 14px;
  }
}

/* >= 992px (Desktop) */
@media screen and (min-width:992px) {
  /* Common CSS */
  /* Title */
  .convex-title::before,
  .concave-title::before{
    content: '🐔';
  }

  /* Definition List */
  .shadow-desc{
    margin-bottom: 36px;
  }

  .shadow-desc > div::before{
    content: '🐥';
  }

  /* Element Margin-Bottom */
  body > article{
    margin-bottom: 180px;
  }

  body > article:last-of-type{
    margin-bottom: 90px;
  }

  .convex li:nth-of-type(4),
  .concave li:nth-of-type(4){
    margin-bottom: 0;
  }

  /* Header */
  .convex header{
    margin-bottom: 48px;
  }

  /* Article - Concave */
  .concave header{
    margin-bottom: 48px;
  }

}
