* {
  margin:0px;
  padding:0px;
}
img{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
li{
  list-style: none;
}
a{
  color:black;
  text-decoration: none;
}
h1, h2{
  text-align: center;
  margin-bottom: 20px;
}
.sr-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}
/*===================================header===============================*/
.settingTitle{
  position: relative;
  height:55px;
  border-top: 1px solid #595959;
  border-bottom: 1px solid #a1a4a6;
}
.settingTitle nav{
  top:50%;
  position:absolute;
  margin-top: -15px;
}
.settingMenu{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width:300px;
  height:30px;
  font-size: 15px;
}
.settingMenu li{
  cursor: pointer;
}
.settingMenu-right{
  position: absolute;
  right:0;
}
/*===============================main==================================*/

.text{
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  color:white;
  margin-top: 70px;
}
.text h2{
  font-size: 40px;
}
.text li, dd{
  margin-left: 20px;
}
/*===============================slider================================*/
.container, .slider1, .slider2, .slider3, .slider4, .slider5, .item, .arrow{
  width:900px;
  height:450px;
}
.slider1 .dividingImg, .container{
  position:relative;
}
.arrow, .slider2, .slider3, .slider4, .slider5, .dividingImg{
  position:absolute;
}
.container{
  position: relative;
  margin-top: 18px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.dividingImg{
  display:grid;
  grid-template-columns: 1fr 1fr;
}
.arrow{
  top:0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.arrow  span{
  display:inline-block;
  width:40px;
  height:50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.arrow > span:last-child{
  border-radius: 3px 0 0 3px;
}
.arrow span:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

#main4 a{
  position: absolute;
  bottom:0;
  right:0;
  font-size: 25px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.slider5 dl{
  display: grid;
  grid-template-columns: 80px 1fr;
}
/*==============================footer====================================*/
.settingFooter{
  background-color: #F5F5F7;
  height:100px;
  font-size: 11px;
  color: #a1a4a6;
}
.footerSize{
  width:900px;
  margin-left: auto;
  margin-right: auto;
}
.reference, .copyright{
  padding-top: 9px;
  padding-bottom: 9px;
}
.reference{
  position: relative;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #a1a4a6;
}
.copyright,
.copyright ul,
.company-Info dl{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.copyright{
  justify-content: space-between;
}
.copyright li{
  padding: 0px 5px;
  border-right: 1px solid #a1a4a6;
}
.company-Info dt{
  padding-left:5px;
}
.company-Info dd{
  margin:0px;
  padding: 0px 5px;
  border-right: 1px solid #a1a4a6;
}
.company-Info dl > dt:first-child{
  padding:0px;
}
.copyright ul > li:last-child, .company-Info dl > dd:last-child{
  border:none;
}
