/* Tablet Style
min-width >=576px  */
@media screen and (min-width:576px) {
  /* CSS-1-link.html */
  /* Article - Css-Align */
  .css-align-order{
    margin-bottom: 24px; /* 미디어쿼리 36 */
  }

  .css-align-order > ol{
    margin-bottom: 24px; /* 미디어쿼리 36 */
  }


  /* Article - Reason-For-Recomment */
  .reason-for-recomment > div{
    margin-left: 16px;
    margin-bottom: 24px;
  }

  .selector-priority{
    overflow-x: hidden;
  }



  /* CSS-2-stroke.html */
  .stroke > p,
  .stroke-cross-browsing > p,
  .stroke-animation > p{
    margin-bottom: 24px;
  }

  .stroke .main-article-pre,
  .stroke-cross-browsing .main-article-pre{
    margin-bottom: 24px;
  }



  /* CSS-3-background-clip.html */
  /* Article - Background-Clip */
  .background-clip > p{
    margin-bottom: 16px;
  }

  /* Article - Background-Clip-Type-Desc */
  .background-clip-type{
    margin-bottom: 24px;
  }

  .background-clip-image-group > div{
    margin-bottom: 24px;
  }

  .background-clip-image{
    width: 230px;
  }
}

/* Desktop Style
min-width >=768px  */
@media screen and (min-width:768px) {
  /* CSS-1-link.html */
  /* Article - Css-Align */
  .css-align-order{
    margin-bottom: 32px;
  }

  .css-align-order > ol{
    margin-bottom: 32px; /* 미디어쿼리 36 */
  }


  /* Article - Reason-For-Recomment */
  .reason-for-recomment > div{
    margin-bottom: 32px;
  }



  /* CSS-2-stroke.html */
  .stroke > p,
  .stroke-cross-browsing > p,
  .stroke-animation > p{
    margin-bottom: 32px;
  }

  .stroke .main-article-pre,
  .stroke-cross-browsing .main-article-pre{
    margin-bottom: 32px;
  }



  /* CSS-3-background-clip.html */
  /* Article - Background-Clip */
  .background-clip > p{
    margin-bottom: 32px;
  }

  /* Article - Background-Clip-Type-Desc */
  .background-clip-type{
    margin-bottom: 32px;
  }

  .background-clip-image-group > div{
    margin-bottom: 32px;
  }

  .background-clip-image{
    width: 250px;
  }
}
