/* CSS-1-link.html */
/* Article - Css-Align */
.css-align-order{
  margin-bottom: 16px;
}

.css-align-order > ol{
  margin-bottom: 16px;
}

.css-align-type{
  display: flex;
}

.css-align-type li.main-article-list-items.type{
  margin-bottom: 0;
  margin-right: 8px;
}

.css-align-type li.main-article-list-items.type:last-child{
  margin-right: 0;
}


/* Article - Reason-For-Recomment */
.reason-for-recomment > div{
  margin-left: 8px;
  margin-bottom: 16px;
}

.reason-for-recomment > div:last-child{
  margin-bottom: 0;
}

.import-pros-and-cons li.main-article-list-items::before{
  content: '-';
}


/* Article - Selector-Priority */
.selector-priority{
  overflow-x: scroll;
}

.align-center{
  text-align: center;
}



/* CSS-2-stroke.html */
/* Article - Stroke */
.stroke > p,
.stroke-cross-browsing > p,
.stroke-animation > p{
  margin-bottom: 16px;
}

.stroke .main-article-pre,
.stroke-cross-browsing .main-article-pre{
  margin-bottom: 8px;
}

.can-i-use-image{
  width: 100%;
  border-radius: 10px;
}
